<h1>Liste des ragots</h1>
<table>
	<tr>
		<th>Nom de l'auteur</th>
		<th>Ragot</th>
	</tr>
	<% @gossips.each do |gossip| %>
	<tr>
		<td><%= (User.find(gossip.user_id)).username %></td>
		<td><%=gossip.content %></td>
		<td><%= link_to 'Détails du ragot', gossip_path(gossip) %></td>
		
	</tr>
	<% end %>
</table>